html, body{
    background-color: black;
    color: beige;
    
}



.img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 150px
    
}
.navbar-nav{
    margin-left: 120px;
}

.space{
    
    padding-left: 190px;
    font-size: 20px;

}

.carrito {
    margin-right: 5px;
    cursor: pointer;
    margin-left: auto;
    padding-left: 0px;
}

.collapse li  {
    margin-right: 70px;
}

.catalogo img {

    display:block;
    
    margin:auto;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: black !important;
    color: beige;

}

.catalogo {
    text-align: center;
}

.contenedor-catalogo h1{

    margin-top: 20px;
    
}

.contenedor-catalogo hr {
    width:27%
}

.itemscount{
    margin-left: 20px;
    margin-top: 15px;
}

.img {
    margin-right: 0px;
}

.detalles img {
    width: 250px ;

}




.card-body {
    padding-top: 0px;
    padding-right: 0px;
  
}
.row img {
    margin-right: 15px;

}

.btn-light{
   margin-left: 4px;

}


.menu-detalles{
    display: flex;
  
}

.cantidad{
    margin-left: 28px;
}

.atras{
 
    margin-top: 50px;
    margin-left: 58px;


}

.finalizar{
width: 100px;
height: 60px;

margin-left: 30px;
margin-top: 30px;

}


.volver {
    margin-right: 40px;
    
}

.contenedor-categorias{
    
   margin-left: 120px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
   

}


.mb-20{
    margin-bottom: 30px;
}



.justify-text{
    text-align: justify;
}

.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    font-size: 19px;
    padding: 50px;
}

.digitalstore{
    text-align: right;
    color: rgb(0, 255, 229);
}

.nosotros img {
    width: 500px;
    border: violet 2px solid;
}

.nosotros p span {
    color: rgb(102, 255, 0);
}

.nosotros ul {
    line-height: 29px;
}
.nosotros li{
    margin-top: 15px;
}

.carro {
    color: red;
    font-size: 20px;
    text-align: center;
}

.cartcarro{
display:grid;
grid-template-columns: 2fr 2fr;

margin: 0 auto;
grid-gap: 80px;

}

.mt-15{
    margin-top: 15px;
}

.mt-10{
    margin-top: 50px;
}


.contenedor{
    border: aqua 2px solid;
    max-width: 1400px;
    margin: 10px auto;
}

.contenedor-portada{
   
    max-width: 1400px;
    margin: 10px auto;
}



.contenedor-footer{
   
    max-width: 1400px;
    margin: 10px auto;
}

.limpiarboton {
    margin-top: 20px;
    margin-left: 130px;
}

.cardcart{
    width: 5%!important;
    height: 100%!important;
}


.pago {
    margin-left: 30px;
}

.disp {
    display: flex;
    margin-bottom: 15px;
margin-top: 15px;
margin-left: 20px;
    padding-right: 0px;
}

.productocarrito{
    margin-top: 50px;
    margin-left: 20px;
}

.btn-warning{
    margin-left: 20px;
  padding: 2px 7px
}

.bagg{
    margin-left: 10px;
    color:rgb(0, 255, 0);
    margin: 0px;
}

.carrito-vacio{
    width: 200px;
  margin-left: 600px;
}

.block{
    display:inline-block;
}

.found {
    margin: 0 auto;
    margin-left: 25px;
    margin-bottom: 20px;
}
.total{
    width: 400px;
    border-top: 1px solid;
   
    margin: 0px auto;
    padding: 0 auto;
}



.totalfinal{
    max-width: 550px;
    border-top: 1px solid;
    margin-top: 30px;
    
}

.total span{
  color: rgb(38, 221, 21);
  
}
.totalfinal span{
    color: rgb(39, 255, 20);
    
  }

  .totalfinal p{
    margin-top: 20px;
    margin-left: 240px;
    
    
  }

.total p{
  margin-top: 20px;
  margin-bottom: 0px;
    text-align: center;
    padding: 0px;
}

.final{
    margin-top: 60px;
    
}

.seguircomprando{
    margin-left: 180px;
    margin-top: 50px;
}

.watsap{
    background: none;
    position: fixed;
    top:90%;
    right: 0.5%;
}

.waza{
    margin-top: 50px;
}

.carta-formulario{
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
}

.form {
    width: 350px;
margin-bottom: 30px;

}


.ordenbtn{

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 145px;
   
}

.tituloform span{
    font-weight: bold;
}

.tituloform{
    color: aqua;
}

.final span{
    color: aqua;
}



.text-center{
    text-align: center;
}


/* Contacto  */


.contacto{

    border: aqua 2px solid;
    
    margin: 10px auto;
}

.titulo-contacto{
    margin-top: 10px;
}

.texto{
    padding: 10px;
    margin-top: 40px;
    font-size: 19px;
}

.texto span {
    color: greenyellow;
    cursor: pointer;
}

.texto p {
    text-align: center;
}

/* Formulario  */

.formulario legend {
    
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;

}

.campo {
display: flex;
margin-left: 500px;
margin-bottom: 2rem;

}

.campo label{
flex-basis: 8rem;

}

.formulario fieldset {
   justify-content: center;
 
 }

 .white{
     color: white;
 }
 
 form .btn {
     justify-content: center;
 }

 .formbtn{
     margin-left: 630px;
     margin-bottom:40px ;
 }

 .a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    color: white;
    width: 200px;
}

.grid-footer{
    margin: 0 auto;
 }

 .grid-footer h3{
    padding-bottom: 20px;
 }

 footer span{
     color: aqua;
 }




.a:hover{
    
  color:rgb(0, 221, 250);
  font-weight: bolder;
}

.grid-footer h3 {
    text-align: center;
}

.grid-footer{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
 }
 
.carritofinal{
    margin: 0px auto;
   
}


.carttitle{
    margin-left: 0;
    margin-bottom: 40px;
}

.productosdestacados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.detail{
    padding: 30px
}

.pagofinal{
    font-size: 20px;
}

.bg-black li{
    color: white!important;
}


.nav-link{
    color: #ff00f7;
    text-decoration: none;
}


.nav-link:hover{
    color: rgb(255, 255, 255);
}

.categorycard{
    height: 240px;
    width: 302px;
    margin-bottom: 50px;
    font-size: 20px;
    border: orchid 1px solid;
}

.ml-120{
  
}

.categorycard p:hover{
    color: violet;

}

.textdecoration{
    text-decoration: none;
}

.barr {
    font-size: 20px;
    padding-left: 150px;
}

.tarjetascategoria{
    text-decoration: none;
    color: white;
}

.mt-1{
    margin-top: 5px;
}


.validar{
    color: red;
    font-size: 20px;
    text-align: center;
}


.formularioExitoso {
    text-align: center;
    color: rgb(0, 255, 0);
    font-size: 20px;
}

.invalidContacto{
    text-align: center;
    color: red;
    font-size: 20px;
    margin-bottom: 30px;
}