html, body{
    background-color: black;
    color: beige;
    
}



.img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px
    
}
.navbar-nav{
    margin-left: 120px;
}

.space{
    
    padding-left: 190px;
    font-size: 20px;

}

.carrito {
    
    cursor: pointer;
    margin-left:140px;
    padding-left: 0px;
}

.collapse li  {
    margin-right: 70px;
}

.catalogo img {

    display:block;
    
    margin:auto;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: black !important;
    color: beige;

}

.catalogo {
    text-align: center;
}

.contenedor-catalogo h1{

    margin-left: 50px;
    margin-top: 20px;
    
}

.contenedor-catalogo hr {
    width:27%
}

.items{
    margin-left: 20px;
    margin-top: 15px;
}

.img {
    margin-right: 0px;
}

.detalles img {
    width: 280px!important ;

}

.img img {
    width: 150px;
   
}


.card-body {
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 20px;
}
.row img {
    margin-right: 15px;

}

.btn-light{
   margin-left: 4px;

}


.menu-detalles{
    display: flex;
}

.cantidad{
    margin-left: 28px;
}

.atras{
 
    margin-top: 50px;
    margin-left: 58px;


}

.finalizar{

    margin-top: 50px;
    margin-left: 58px;

}


.volver {
    margin-right: 40px;
    
}

.contenedor-categorias{
    margin-left: 50px;
   

}



.carro {
    color: red;
    font-size: 20px;
    margin-left: 50px;
}

.cartcarro{
margin-left: 70px;
margin-top: 40px;

}

.limpiarboton {
    margin-top: 20px;
    margin-left: 130px;
}

.cardcart{
    width: 5%!important;
    height: 100%!important;
}


.pago {
    margin-left: 30px;
}

.disp {
    display: flex;
    margin-bottom: 15px;
}

.productocarrito{
    margin-top: 50px;
    margin-left: 20px;
}

.btn-warning{
    margin-left: 20px;
  padding: 2px 7px
}

.bagg{
    color:green;
    margin: 0px;
}

.carrito-vacio{
    display: block;
}

.block{
    display:inline-block;
}

.found {
    margin-left: 34px;
}